{{#ifEquals data.rollType 'base'}}
<label class="resource-label">{{localize "ExEss.Dice"}}</label>
<div class="form-group"><input name="object.dice" value="{{data.dice}}" type="number"></div>
{{else}}
<div class="resource grid grid-4col flex-center">
    {{#ifEquals data.characterType 'character'}}

    <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
    <select id="ability-first-select" name="object.abilityFirst" value="{{data.abilityFirst}}" data-type="String">
        {{#select data.abilityFirst}}
        <option value="athletics">{{localize "ExEss.Athletics"}}</option>
        <option value="awareness">{{localize "ExEss.Awareness"}}</option>
        <option value="close">{{localize "ExEss.CloseCombat"}}</option>
        <option value="craft">{{localize "ExEss.Craft"}}</option>
        <option value="embassy">{{localize "ExEss.Embassy"}}</option>
        <option value="integrity">{{localize "ExEss.Integrity"}}</option>
        <option value="navigate">{{localize "ExEss.Navigate"}}</option>
        <option value="performance">{{localize "ExEss.Performance"}}</option>
        <option value="physique">{{localize "ExEss.Physique"}}</option>
        <option value="presence">{{localize "ExEss.Presence"}}</option>
        <option value="ranged">{{localize "ExEss.RangedCombat"}}</option>
        <option value="sagacity">{{localize "ExEss.Sagacity"}}</option>
        <option value="medecine">{{localize "ExEss.Medecine"}}</option>
        <option value="stealth">{{localize "ExEss.Stealth"}}</option>
        <option value="war">{{localize "ExEss.War"}}</option>
        <option value="martial">{{localize "ExEss.MartialArts"}}</option>
        {{/select}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input class="excellency-check-first" type="checkbox" name="object.abilityFirstExcellency" {{checked
        data.abilityFirstExcellency}}>


    <label class="resource-label">{{localize "ExEss.Ability"}}: </label>
    <select name="object.ability" value="{{data.ability}}" data-type="String">
        {{#select data.ability}}
        <option value="athletics">{{localize "ExEss.Athletics"}}</option>
        <option value="awareness">{{localize "ExEss.Awareness"}}</option>
        <option value="close">{{localize "ExEss.CloseCombat"}}</option>
        <option value="craft">{{localize "ExEss.Craft"}}</option>
        <option value="embassy">{{localize "ExEss.Embassy"}}</option>
        <option value="integrity">{{localize "ExEss.Integrity"}}</option>
        <option value="navigate">{{localize "ExEss.Navigate"}}</option>
        <option value="performance">{{localize "ExEss.Performance"}}</option>
        <option value="physique">{{localize "ExEss.Physique"}}</option>
        <option value="presence">{{localize "ExEss.Presence"}}</option>
        <option value="ranged">{{localize "ExEss.RangedCombat"}}</option>
        <option value="sagacity">{{localize "ExEss.Sagacity"}}</option>
        <option value="medecine">{{localize "ExEss.Medecine"}}</option>
        <option value="stealth">{{localize "ExEss.Stealth"}}</option>
        <option value="war">{{localize "ExEss.War"}}</option>
        <option value="martial">{{localize "ExEss.MartialArts"}}</option>
        {{/select}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input class="excellency-check" type="checkbox" name="object.abilityExcellency" {{checked
        data.abilityExcellency}}>

    {{/ifEquals}}

    {{#ifEquals data.characterType 'npc'}}

    <label class="resource-label">{{localize "ExEss.Pool"}}: </label>
    <select name="object.pool" value="{{data.pool}}" data-type="String">
        {{#select data.pool}}
        <option value="primary">{{localize "ExEss.Primary"}}</option>
        <option value="secondary">{{localize "ExEss.Secondary"}}</option>
        <option value="tertiary">{{localize "ExEss.Tertiary"}}</option>
        {{/select}}
    </select>

    <label class="resource-label">{{localize "ExEss.Excellency"}}: </label>
    <input class="excellency-check" type="checkbox" name="object.poolExcellency" value="{{data.poolExcellency}}" {{checked data.poolExcellency}}>

    {{/ifEquals}}
</div>
{{/ifEquals}}


{{#ifEquals data.rollType 'base'}}
<label class="resource-label">{{localize "ExEss.Successes"}}</label>
<div class="form-group"><input name="object.successModifier" value="{{data.successModifier}}" type="number"></div>
{{else}}
<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "ExEss.DiceModifier"}} </label>
        <input name="object.diceModifier" value="{{data.diceModifier}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "ExEss.SuccessModifier"}} </label>
        <input name="object.successModifier" value="{{data.successModifier}}" type="number">
    </div>
</div>
{{/ifEquals}}

<div class="resource grid grid-2col flex-center">
    <div>
        <label class="resource-label">{{localize "ExEss.DoubleSuccess"}} </label>
        <input name="object.doubleSuccess" value="{{data.doubleSuccess}}" type="number">
    </div>
    <div>
        <label class="resource-label">{{localize "ExEss.TargetNumber"}} </label>
        <input name="object.targetNumber" value="{{data.targetNumber}}" type="number">
    </div>
</div>

{{#ifNotEquals data.rollType 'base'}}
<div class="d-flex flex-between mb-1 collapsable cursor-pointer">
    <div class="resource-label">
        {{localize "ExEss.Effects"}}
    </div>
    <div>
        <i class="fas fa-caret-down"></i>
    </div>
</div>
<div class="resource grid grid-4col flex-center">

    <label class="resource-label">{{localize "ExEss.WoundPenalty"}}: </label>
    <input type="checkbox" name="object.woundPenalty" value="{{data.woundPenalty}}" {{checked data.woundPenalty}}>

    <label class="resource-label">{{localize "ExEss.WillingnessPenalty"}}: </label>
    <input type="checkbox" name="object.willingnessPenalty" value="{{data.willingnessPenalty}}" {{checked data.willingnessPenalty}}>

    <label class="resource-label">{{localize "ExEss.Flurry"}}: </label>
    <input type="checkbox" name="object.flurry" value="{{data.flurry}}" {{checked data.flurry}}>

    {{#ifEquals actor.system.details.exalt 'dragonblooded'}}
    <div class="resource-label">{{localize "ExEss.ActivateAura"}}</div>
    <select name="object.activateAura" data-type="String">
        {{#select data.activateAura}}
        <option value="none">{{localize "ExEss.None"}}</option>
        <option value="air">{{localize "ExEss.Air"}}</option>
        <option value="earth">{{localize "ExEss.Earth"}}</option>
        <option value="fire">{{localize "ExEss.Fire"}}</option>
        <option value="water">{{localize "ExEss.Water"}}</option>
        <option value="wood">{{localize "ExEss.Wood"}}</option>
        {{/select}}
    </select>
    {{/ifEquals}}
</div>
{{/ifNotEquals}}